﻿@model Ideaworx.Cgpamatter.Entities.CourseExplorer.Answer

<div class="control-group">
    @Html.LabelFor(model => model.AnswerText, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.AnswerText)
        @Html.ValidationMessageFor(model => model.AnswerText)
        <span class="help-inline">
            @Html.LabelFor(model => model.IsCorrect)
            @Html.CheckBoxFor(model => model.IsCorrect)
        </span>
    </div>
</div>
