﻿@model Ideaworx.Cgpamatter.Web.ViewModels.CourseExplorer.QuestionModel
@{
    ViewBag.Title = "Edit";
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Edit Question</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index", new { courseId = Model.CourseId, syllabusId = Model.SyllabusId })" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)                            
        @Html.HiddenFor(model => model.CourseId)
        @Html.HiddenFor(model => model.SyllabusId)
        @Html.HiddenFor(model => model.Question.Key)
        @Html.HiddenFor(model => model.Question.DateCreated)
        @Html.HiddenFor(model => model.Question.TimeStamp)
        <fieldset>
            <legend>Form control states</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.SyllabusId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.SyllabusId, Model.SyllabusList)
                    @Html.ValidationMessageFor(model => model.SyllabusId)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.QuestionTypeId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.QuestionTypeId, Model.QuestionTypes)
                    @Html.ValidationMessageFor(model => model.QuestionTypeId)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Question.Text, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(model => model.Question.Text, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Question.Text)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Question.Description, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Question.Description, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Question.Description)
                </div>
            </div>
            @for (var i = 0; i < Model.Answers.Count; i++)
            {
                var answer = Model.Answers.ElementAt(i);
                                    
                <div class="control-group">
                    @Html.Label("Answers[" + i + "].AnswerText", "Answer Text", new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBox("Answers[" + i + "].AnswerText", answer.AnswerText)
                        @Html.ValidationMessage("Answers[" + i + "].AnswerText", answer.AnswerText)
                        <span class="help-inline">
                            <input name="Answers[@i].Key" type="hidden" value="@answer.Key"/>
                            @Html.Label("Answers[" + i + "].IsCorrect", answer.IsCorrect)
                            @Html.CheckBox("Answers[" + i + "].IsCorrect", answer.IsCorrect)
                        </span>
                    </div>
                </div>    
            }
            <div class="control-group">
                @Html.LabelFor(model => model.Question.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.CheckBoxFor(model => model.Question.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <a href="@Url.Action("Index", new { courseId = Model.CourseId, syllabusId = Model.SyllabusId })" class="btn">Cancel</a>
            </div>
        </fieldset>                          
    }
</div>
