@model Ideaworx.Cgpamatter.Web.ViewModels.CourseExplorer.QuestionListModel
@{
    ViewBag.Title = "Questions";
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Questions List</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Create", new { courseId = Model.CourseId, syllabusId = Model.SyllabusId })" class="btn">
                        <i class="icon-pencil"></i>Add                                        
                    </a>
                </div>
            </div>
            @Html.Partial("_searchBox")
            <div class="control-group">
                @Html.LabelFor(model => model.SyllabusId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.SyllabusId, Model.SyllabusList)
                    @Html.ValidationMessageFor(model => model.SyllabusId)
                </div>
            </div>
        </div>
    </div>

    <div id="data-grid">
        @Html.Partial("_grid", Model.PagedViewModel)
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                url: "@Url.Action("Index", new { courseId = Model.CourseId, syllabusId = Model.SyllabusId })",
                alignRight: true,
                addRowOverState: true,
                addSelectedState: true
            };
            $("#data-grid").mvccontribGrid(options);
        });
    </script>
}