﻿@model Ideaworx.Cgpamatter.Entities.Security.Role
@{
    ViewBag.Title = "Create";
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Create Tenant</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Form control states</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.RoleName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.RoleName, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.RoleName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Description, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.CheckBoxFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="@Url.Action("Index")" class="btn">Cancel</a>
            </div>
        </fieldset>
                            
    }
</div>
