﻿@model Ideaworx.Cgpamatter.Entities.Security.Role
@{
    ViewBag.Title = "Details";
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Role Details</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                    <a href="@Url.Action("Edit", new { id = Model.Key })" class="btn">
                        <i class="icon-edit"></i>Edit                                        
                    </a>
                    <a href="@Url.Action("Delete", new { id = Model.Key })" class="btn">
                        <i class="icon-trash"></i>Delete                                        
                    </a>
                    <a href="@Url.Action("UsersInRole", new { id = Model.Key })" class="btn">
                        <i class="icon-user"></i>Users in Role                                        
                    </a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Form control states</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.RoleName, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.RoleName, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Description, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.DateCreated, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.DateCreated, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.DateModified, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.DateModified, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.DisplayFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <a href="@Url.Action("Index")" class="btn btn-primary">Back</a>
            </div>
        </fieldset>
    }
</div>
