@model Ideaworx.Cgpamatter.Web.ViewModels.Security.RoleViewModel
@{
    ViewBag.Title = "Role: " + Model.Role;	
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Role Details: @Model.Role</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" class="btn">
                        <i class="icon-align-justify"></i>List                                       
                    </a>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Users.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>User name</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var key in Model.Users.Keys)
                {
                    var user = Model.Users[key];
                    <tr>
                        @if (user == null)
                        {
                            <td>
                                <span>@key <em>(Deleted)</em></span>
                            </td>
                                                    
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink(user.UserName, "Details", "User", new { id = user.Key }, null)
                            </td>
                            <td>
                                @using (Html.BeginForm("RemoveFromRole", "User", new { id = user.Key, role = Model.Role }))
                                {
                                    <button type="submit" class="btn btn-danger">
                                        <i class="icon-minus-sign icon-white"></i>
                                        Remove From
                                    </button>
                                }
                            </td>                             
                        }
                    </tr>                                            
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No users are in this role.</p>
    }
</div>
