﻿@model IList<Category>
@using Category = Ideaworx.Cgpamatter.Entities.CourseExplorer.Category


<div class="span3">
    <ul class="nav nav-tabs nav-stacked ">
        
        <li><a href="@Url.Action("Index", "CourseCatalogue")"> All <i class="icon-chevron-right"></i></a></li>            

        @foreach (Category category in Model)
        {
            <li><a href="@Url.Action("Index", "CourseCatalogue", new { categoryId = category.Key })">@category.CategoryName <i class="icon-chevron-right"></i></a></li>            
        }

    </ul>
</div>
