﻿@model IList<Category>
@using Category = Ideaworx.Cgpamatter.Entities.CourseExplorer.Category

<div class="cat-select-bar">
    <div class="fl home-text-category">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                @{
                    const int pagesize = 6;
                    int j = 0;
                    for (int i = 0; i <= Model.Count; i += pagesize)
                    {

                        if (j == 0)
                        {
                           
                    <text><li data-target="#myCarousel" data-slide-to="@j" class="active"></li></text>
                        }
                        else
                        {
                    <text><li data-target="#myCarousel" data-slide-to="@j" ></li></text>
                        }

                        j++;
                    }

                }

            </ol>
            <div class="carousel-inner">

                @for (int i = 0; i <= Model.Count; i += pagesize)
                {
                    var pagedModel = Model.Select(c => c).Skip(i).Take(pagesize).ToList();

                    var active = i == 0 ? "active" : "";
                
                    <div class="item @active">
                        <p>
                            @foreach (Category category in pagedModel)
                            {
              
                                <a href="@Url.Action("Index", "CourseCatalogue", new { categoryId = category.Key })" >@category.CategoryName</a>
                            }
                        </p>
                    </div>
                }
            </div>
        </div>

    </div>
    <div class="fr">
        <div class="btn-group">
            <a class="btn" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
            <a class="btn" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
        </div>
    </div>
    <div class="cb"></div>


</div>

