﻿@model Ideaworx.Cgpamatter.Entities.CourseExplorer.Category
@{
    ViewBag.Title = "Delete";
}


<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Delete Category</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                    <a href="@Url.Action("Edit", new { id = Model.Key })" class="btn">
                        <i class="icon-edit"></i>Edit                                        
                    </a>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TimeStamp)
        <fieldset>
            <legend>Are you sure you want to delete this?</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.CategoryName, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.CategoryName, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Description, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.DateCreated, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.DateCreated, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.DateModified, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.DateModified, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.DisplayFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Delete</button>
                <a href="@Url.Action("Index")" class="btn">Cancel</a>
            </div>
        </fieldset>                            
    }
</div>

