/* CSS */
body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
    color: #3a3a3a;
    text-decoration: none;
    padding-top: 66px;
    background: #fafafa;
}

input,
button,
select,
textarea {
    font-family: 'Droid Sans', sans-serif;
}

/* fontz */
h1, h2, h3, h4, h5, h6 {
}

a:hover {
    text-decoration: none;
}

.banner-bg h3 {
    font-size: 27px;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.9);
    color: #fff;
}

    .banner-bg h3 small {
        font-size: 14px;
        display: block;
        margin-top: 15px;
        line-height: 25px;
        color: #fff;
    }

.lh30 {
    line-height: 30px;
}

.f11 {
    font-size: 11px;
}

.wrapper {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 20px;
    background: #fff;
}

.nav.nav-tabs.nav-stacked .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .5;
}
/* Widts */
.w183 {
    width: 185px;
}

.span658 {
    width: 658px;
}

.w90 {
    width: 90px;
}

.w375 {
    width: 375px;
}
/* BGz */
/* Result Item */
.normal-cat-img {
    width: 120px;
    margin-right: 20px;
}

.time-date {
    font-size: 11px;
    color: #555;
    line-height: 18px;
    margin-top: 18px;
}

    .time-date span {
        display: block;
    }

.result-item a:hover h5 {
    color: #2bb0d1;
}

hr {
    background: #e5e5e5;
    height: 1px;
    border: none;
}

.gray-box {
    background: #f6f6f6;
    padding: 20px;
}

.right-sec {
    background: #f9f9f9;
}

.bg-text {
    background: #efefef;
    font-size: 15px;
    padding: 15px;
}

.cptext {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
}

.pd20 {
    padding: 20px;
}

.cat-select-bar {
    background: #fff;
    border: 1px solid #ebebeb;
    font-size: 12px;
    padding: 15px;
    z-index: 1;
    position: relative;
    margin-bottom: 10px;
}

.home-text-category a {
    padding: 0px 15px;
    color: #3a3a3a;
    cursor: pointer;
}

    .home-text-category a.active {
        color: #0088cc;
    }

    .home-text-category a:hover {
        color: #0088cc;
    }

.footer {
    border-top: 1px solid #e1e1e1;
    padding: 20px 10px;
    color: #b6b6b6;
    font-size: 11px;
}

    .footer a {
        color: #b6b6b6;
        padding: 0px 15px;
    }

        .footer a:hover {
            color: #0088cc;
        }

h1 {
    font-size: 25px;
    color: #5f5f5f;
    font-weight: normal;
}

    h1 small {
        font-size: 13px;
        display: block;
    }

    h1 span {
        color: #b8b8b8;
    }

h4 {
    color: #ff6600;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 30px;
    padding-left: 5px;
}

    h4 small {
        display: block;
        color: #3a3a3a;
        margin-bottom: 10px;
    }

.thumbnail {
    background: #fff;
}

h5 {
    color: #ff6600;
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    line-height: 25px;
}

    h5 small {
        display: block;
        color: #3a3a3a;
        font-size: 13px;
        line-height: 20px;
    }

    h5 p {
        display: block;
        color: #3a3a3a;
        margin-bottom: 10px;
        margin: 0;
        font-size: 13px;
    }


.home-thumbs {
    margin-bottom: 40px;
}

    .home-thumbs a {
        max-width: 290px;
        cursor: pointer;
        margin: 20px 6px;
        float: left;
    }
/* banner */
.banner-bg {
    z-index: 5;
    position: relative;
    min-height: 470px;
    background: url(../images/bg/banner-bg.png) center top no-repeat #000;
    -moz-box-shadow: 0px 4px 5px #9a9a9a;
    -webkit-box-shadow: 0px 4px 5px #9a9a9a;
    box-shadow: 0px 4px 5px #9a9a9a;
}

.text-shadow-01 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.baner-img {
    min-height: 470px;
    background: url(../images/bg/banner-01.png) center top no-repeat;
}

.banner-bg input[type=text], .banner-bg input[type="password"] {
    height: 40px;
    font-size: 16px;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.banner-bg .btn-success {
    text-shadow: 1px 2px 0 rgba(40, 118, 40, 0.9);
}

.bshadow {
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

.banner-bg {
    color: #fff;
}

.social-icon {
    text-align: center;
}

    .social-icon a {
        margin: 0px 10px;
    }

.f12 {
    font-size: 12px;
}

.f15 {
    font-size: 15px;
}
/* Spaces */
.fl {
    float: left;
}

.fr {
    float: right;
}

.cl {
    clear: left;
}

.cr {
    clear: right;
}

.cb {
    clear: both;
}


.mt5 {
    margin-top: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mtb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mt65 {
    margin-top: 65px;
}

.mt280 {
    margin-top: 280px;
}

.mb20 {
    margin-top: 20px;
}

.mb10 {
    margin-top: 10px;
}

/* Question */
.question {
    border: 1px solid #e1e1e1;
}

.question-label {
    font-size: 16px;
    padding: 15px;
}

.question-detail {
    color: #fff;
    background: #2bb0d1;
    padding: 15px;
    font-size: 19px;
}

.question-options {
    font-size: 15px;
    padding: 15px;
}

/* Bootstrap Start*/
/* Login Home */
.login-sandbar {
    margin-top: 17px;
}

.navbar .login-sandbar .btn, .navbar .login-sandbar .btn-group {
    margin-top: 0px;
}

.sandbar-links {
    margin-top: 22px;
}

    .sandbar-links a {
        font-size: 15px;
        color: #5f5f5f;
        margin-right: 40px;
    }

.br-login {
    border-left: 1px solid #e1e1e1;
    /*line-height: 65px;*/
    height: 65px;
}

    .br-login .user-photo {
        margin-left: 12px;
        margin-top: 12px;
    }

.user-name {
    margin-top: 14px;
    margin-left: 12px;
}

    .user-name a {
        color: #5f5f5f;
        line-height: 18px;
        font-size: 13px;
    }

        .user-name a small {
            display: block;
            font-size: 13px;
            color: #9b9b9b;
        }

        .user-name a:hover, .user-name a:active, .user-name a:focus {
            text-decoration: none;
            color: #0088cc;
        }

.dropdown .caret {
    margin-top: 6px;
}

.sandbar-links a:hover {
    color: #2bb0d1;
}

.nav.nav-tabs.nav-stacked label {
    margin-top: 5px;
}
/* Sandbar */
.navbar .brand {
    padding: 5px 0px;
}

.navbar-inverse .navbar-inner {
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #fff, #f3f3f3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f3f3f3));
    background-image: -webkit-linear-gradient(top, #fff, #f3f3f3);
    background-image: -o-linear-gradient(top, #fff, #f3f3f3);
    background-image: linear-gradient(to bottom, #fff, #f3f3f3);
    background-repeat: repeat-x;
    border-color: #e1e1e1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#fff3f3f3', GradientType=0);
}

.nav-collapse.collapse {
    margin: 12px 0px 13px 0px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    border: 1px solid #e1e1e1;
    margin-top: 0;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
/* Bootstrap End */

.pagination {
    margin: 0;
}
