﻿@model Ideaworx.Cgpamatter.Web.ViewModels.ExamEngine.ExamModel

<div class="wrapper">
    <h1>Your test is prepared. Click the button below to tart you test</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.CourseId)
                        <button type="submit" class="btn">
                            <i class="icon-edit"></i>Start Exam
                        </button>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
