﻿@{
    ViewBag.Title = "Index";
}

@model Ideaworx.Cgpamatter.Entities.CourseExplorer.Course

<div class="wrapper">
    <h1>Quick test details</h1>
    <div class="row">
        <div class="span658">
            <h5>@Model.CourseName Test<small>@Model.Instructor</small></h5>
            <div class="mtb30">
                <p>
                    <strong>Openbook Test</strong><br />
                    All the tests are designed to be taken in realistic conditions, with the help of any reference that
                    you like, as handouts, books or your notes. You can even use a compiler (and any IDE). Just like when 
                    you program a real-world application. You don't have to know things by heart, but you won't have time to do 
                    extensive search for each question.
                     
                    
                </p>
                <p>
                    You will receive your score after the test is completed and it will display on your cgpamatter.com profile. 
                    At any time, you can choose to hide or delete the skill completely.
                    You can retake the test as many times as you like.
                </p>
            </div>
            <div class="mtb30">
                <p>
                    <strong>Test Instructions</strong><br />
                    various instructions
                </p>
            </div>
        </div>
        <div class="span3 pull-right right-sec img-rounded">
            <div class="bg-text img-rounded text-center">Test Information</div>
            <div class="pd20">
                <div class="f12">
                    <ul>
                        <li>40 questions</li>
                        <li>40 minutes</li>
                        <li>70% required</li>
                        <li>+6 knowledge points</li>
                        <li>This exam is free</li>
                        <li>Exam status: Released</li>
                    </ul>
                </div>
                <a class="btn btn-large btn-block btn-success" href="@Url.Action("Create", new { Id = Model.Key, courseId = this.ViewBag.CourseId })">Start your Test</a>
                <div class="text-center mtb10 text-center">Not Yet?</div>

                <div class="cptext text-center">i Want to learn </div>
                <a class="btn btn-large btn-block" href="@Url.Action("CourseDetails", "Course", new { Id = this.ViewBag.CourseId })">Course</a>

                <div class="mtb20">
                    <div class="cptext text-center">i know but i need practice</div>
                    <a class="btn btn-large btn-block" href="#">Workshop</a>
                </div>
                <div class="mtb20">
                    <div class="cptext text-center">Top contributors</div>
                </div>
                <div class="f12">
                    <ul>
                        <li>Suhaib Janjua</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
