﻿@{
    ViewBag.Title = "Index";
}

<div class="wrapper">
    <h1>Select Your Test</h1>
    <div class="row">

        @Html.Action("CategoryCataloguePartial", "Category", new { ReturnUrl = ViewBag.ReturnUrl } )

        @Html.Action("CourseCataloguePartial", "Course", new { ReturnUrl = ViewBag.ReturnUrl , categoryId = ViewBag.CategoryId })
    </div>
</div>
