﻿@{
    ViewBag.Title = "Take";
}
@model Ideaworx.Cgpamatter.Web.ViewModels.ExamEngine.ExamQuestionModel


<div class="wrapper">
    <h1><span>@Model.Question.Syllabus.Course.CourseCode - </span>@Model.Question.Syllabus.Course.CourseName </h1>
    <div class="row">
        @using (Html.BeginForm(null, null, new { id = Model.ExamAttempt.Key }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)                              
            @Html.HiddenFor(model => model.QuestionId)                
            @Html.HiddenFor(model => model.SelectedAnswer)
            <div class="span658">
                <!--Question Start-->
                <div class="question img-rounded">
                    <div class="question-label">
                        <div class="fl">Question no: @this.Model.QuestionIndex of @this.Model.TotalQuestions</div>
                        <div class="fr">Marks: 1 (Budgeted Time 1 Min)</div>
                        <div class="cb"></div>
                    </div>
                    <div class="question-detail img-rounded">@Model.Question.Text</div>
                </div>
                <!--Options Start-->
                <div class="question-options">
                    @Model.Question.Description
                    <!--Options End-->
                </div>
                <!--Question End-->
                <!--Ans Start-->


                <div class="mtb20">
                    <div class="bg-text img-rounded mtb20">
                        <strong>Answer</strong> (Please Select your correct Option)                        
                    </div>
                    <ul class="nav nav-tabs nav-stacked">

                        @foreach (var answer in Model.Question.Answers)
                        {
                            <li>
                                <a href="#">
                                    <label class="radio">
                                        <input type="radio" name="answer" value="@answer.Key" >
                                        @answer.AnswerText
                                    </label>
                                </a>
                            </li> 
                        }
                    </ul>
                </div>
                <div>
                    <div class="fl">

                        @if (this.Model.QuestionIndex <= 1)
                        {
                            <button type="submit" name="action:previous" class="btn btn-large mr10" disabled="disabled"><i class="icon-chevron-left"></i>Prev</button>
                        }
                        else
                        {
                            <button type="submit" name="action:previous" class="btn btn-large mr10"><i class="icon-chevron-left"></i>Prev</button>    
                        }

                        @if (this.Model.QuestionIndex == this.Model.TotalQuestions)
                        {
                            <button type="submit" name="action:next" class="btn btn-large" disabled="disabled">Next <i class="icon-chevron-right"></i></button>
                        }
                        else
                        {
                            <button type="submit" name="action:next" class="btn btn-large">Next <i class="icon-chevron-right"></i></button>
                        }

                    </div>
                    <div class="fr">
                        <button type="submit" name="action:first" class="btn btn-large"><i class="icon-fast-backward"></i></button>
                        <button type="submit" name="action:last" class="btn btn-large"><i class="icon-fast-forward"></i></button>
                    </div>
                    <div class="cb"></div>
                </div>


                <!--Ans  End-->
            </div>
            <div class="span3 pull-right">
                <!--Time word-->
                <div class="row f15">
                    <div class="span2"><i class="icon-time"></i>Time Ramaing</div>
                    <div class="span1 text-right">84:00</div>
                </div>
                <!--Time word End-->
                <!--Time Bar-->
                <div class="progress progress-striped active mt5">
                    <div class="bar bar-success" style="width: 40%;"></div>
                </div>
                <button type="submit" name="action:finish" class="btn btn-large btn-block btn-danger"><i class="icon-thumbs-up icon-white"></i>Finish Test</button>
                <!--Time Bar End-->

                <div class="img-rounded right-sec">
                    <div class="pd20 mtb20">
                        <div class="f15"><i class="icon-info-sign"></i>Test Tip!</div>
                        <div class="f11">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
                            <p>ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

@section scripts
    {

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <script type="text/javascript">

        $('input[name="answer"]').change(function (e) {

            $('#SelectedAnswer').val($(this).val());
        });

    </script>
}