﻿@{
    ViewBag.Title = "Account Activated";
    
}
<section>

    <h1>Click on the button below to activate your account
    </h1>
    <p>

        <a href="@Url.Action("Activate", "Account", new { token = ViewBag.Token }, this.Request.Url.Scheme)" class="btn btn-primary" >Activate</a>
    </p>
    <p>Alternatively, copy and paste the link below if the above button does not work</p>
    <p>@Url.Action("Activate", "Account", new { token = ViewBag.Token }, this.Request.Url.Scheme)</p>

</section>
