@{
    ViewBag.Title = "Forgot Password";
    
}
<section>

    <h1>Click on the button below to change your account password </h1>
    <p>
        <a href="@Url.Action("PasswordReset", "Account", new { token = ViewBag.Token }, this.Request.Url.Scheme)" class="btn btn-primary" >Reset Password</a>
    </p>
    <p>Alternatively, copy and paste the link below if the above button does not work</p>
    <p>@Url.Action("PasswordReset", "Account", new { token = ViewBag.Token }, this.Request.Url.Scheme)</p>

</section>
