﻿@using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "form-search", id = "userSearch" }))
{
   <div class="input-append">
        @Html.TextBox("searchWord", null, new { @class = "search-query input-xxlarge", placeholder = "Search" })
        <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>   
}