﻿@model Ideaworx.Cgpamatter.Web.ViewModels.Security.CreateUserViewModel
@{
    ViewBag.Title = "Create New User";	
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Create Tenant</h1>

    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Form control states</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.Username, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Username, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Password, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Email, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PasswordQuestion, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.PasswordQuestion, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.PasswordQuestion)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PasswordAnswer, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.PasswordAnswer, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.PasswordAnswer)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <h3>Initial Roles</h3>
                    @for (var i = 0; i < Model.InitialRoles.Count; i++)
                    {
                        var role = Model.InitialRoles.ElementAt(i);
                        <div>
                            <input name="InitialRoles[@i].Key" type="hidden" value="@role.Key" />
                            <label>
                                @Html.CheckBox("InitialRoles[" + i + "].Value", role.Value)
                                @role.Key

                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="@Url.Action("Index")" class="btn">Cancel</a>
            </div>
        </fieldset> 
    }
</div>
