@using Ideaworx.Cgpamatter.Web.Extensions
@model Ideaworx.Cgpamatter.Web.ViewModels.Security.DetailsViewModel
@{
    ViewBag.Title = "User Details: " + Model.DisplayName;
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>User Details: @Model.DisplayName [@Model.Status]</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                    <a href="@Url.Action("Edit", new { id = Model.User.Key })" class="btn">
                        <i class="icon-edit"></i>Edit                                        
                    </a>
                    <a href="@Url.Action("Delete", new { id = Model.User.Key })" class="btn">
                        <i class="icon-trash"></i>Delete                                        
                    </a>
                    <a href="@Url.Action("UsersRoles", new { id = Model.User.Key })" class="btn">
                        <i class="icon-user"></i>Roles                                       
                    </a>
                    <a href="@Url.Action("Password", new { id = Model.User.Key })" class="btn">
                        <i class="icon-star"></i>Password                                        
                    </a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("ChangeApproval", "User", new { id = Model.User.Key }, FormMethod.Post, new { @class = "form-horizontal" }))
    {                            
        <fieldset>
            <legend>Form control states</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.User.UserName, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.User.UserName, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.User.Email, new { @class = "control-label" })
                <div class="controls">
                    <a href="mailto:@Model.User.Email">@Model.User.Email</a>
                </div>
            </div>
            @if (Model.User.LastActivityDate == Model.User.DateCreated)
            {                                    
                <div class="control-group">
                    @Html.LabelFor(model => model.User.LastActivityDate, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DisplayFor(model => model.User.LastActivityDate, new { @class = "input-xlarge focused" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.User.LastLoginDate, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DisplayFor(model => model.User.LastLoginDate, new { @class = "input-xlarge focused" })
                    </div>
                </div>                                    
            }
            else
            {
                <div class="control-group">
                    @Html.LabelFor(model => model.User.LastActivityDate, new { @class = "control-label" })
                    <div class="controls">
                        @if (Model.User.LastActivityDate != null)
                        {
                            <text>@Convert.ToDateTime(Model.User.LastActivityDate).ToString("MMMM dd, yyyy h:mm:ss tt")   </text>
                        }
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.User.LastLoginDate, new { @class = "control-label" })
                    <div class="controls">
                        @if (Model.User.LastLoginDate != null)
                        {
                            <text>@Convert.ToDateTime(Model.User.LastLoginDate).ToString("MMMM dd, yyyy h:mm:ss tt")   </text>
                        }
                    </div>
                </div>                                                                       
            }
            <div class="control-group">
                @Html.LabelFor(model => model.User.DateCreated, new { @class = "control-label" })
                <div class="controls">
                    @Model.User.DateCreated.ToDateString("MMMM dd, yyyy h:mm:ss tt")
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.User.DateModified, new { @class = "control-label" })
                <div class="controls">
                    @Model.User.DateModified.ToDateString("MMMM dd, yyyy h:mm:ss tt")
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.User.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.DisplayFor(model => model.User.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                @Html.Hidden("isApproved", !Model.User.IsApproved)
                <button type="submit" class="btn btn-primary">@(Model.User.IsApproved ? "Unapprove" : "Approve") Account </button>
            </div>

        </fieldset>
                            
    }
    <div class="box-content">
        @using (Html.BeginForm("Details", "User", new { id = Model.User.Key }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <fieldset>
                <legend>Email Address & Comments</legend>
                <div class="control-group">
                    @Html.LabelFor(model => model.User.Email, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.User.Email, new { @class = "input-xlarge focused" })
                        @Html.ValidationMessageFor(model => model.User.Email)
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="@Url.Action("Index")" class="btn">Cancel</a>
                </div>
            </fieldset>
        }
    </div>

</div>
