﻿@model Ideaworx.Cgpamatter.Entities.Security.User
@{   
    ViewBag.Title = "Edit";
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Edit User</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Key)
        @Html.HiddenFor(model => model.DateCreated)
        @Html.HiddenFor(model => model.LastPasswordChangedDate)
        @Html.HiddenFor(model => model.LastLockoutDate)
        @Html.HiddenFor(model => model.LastActivityDate)
        @Html.HiddenFor(model => model.LastLoginDate)
        <fieldset>
            <legend>Form control states</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Password, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Email, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PasswordQuestion, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.PasswordQuestion, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.PasswordQuestion)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PasswordAnswer, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.PasswordAnswer, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.PasswordAnswer)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.CheckBoxFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <a href="@Url.Action("Index")" class="btn">Cancel</a>
            </div>
        </fieldset>  
    }
</div>
