@model Ideaworx.Cgpamatter.Web.ViewModels.PagedViewModel<Ideaworx.Cgpamatter.Entities.Security.User>
@{
    ViewBag.Title = "Users";
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Users List</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Create")" class="btn">
                        <i class="icon-pencil"></i>Add                                        
                    </a>
                </div>
            </div>
            @Html.Partial("_searchBox", Model.PagedList)
        </div>
    </div>
    <div id="data-grid">
        @Html.Partial("_grid", Model)
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                url: "@Url.Action("Index")",
                alignRight: true,
                addRowOverState: true,
                addSelectedState: true
            };
            $("#data-grid").mvccontribGrid(options);
        });
    </script>
}