@using Ideaworx.Cgpamatter.Web.Extensions
@model Ideaworx.Cgpamatter.Web.ViewModels.Security.DetailsViewModel
@{
	ViewBag.Title = "User Details: " + Model.DisplayName;	
}

<h2 class="mvcMembership">User Details: @Model.DisplayName [@Model.Status]</h2>

<ul class="mvcMembership-tabs">
	<li>@Html.ActionLink("Details", "Details", "User", new {id = Model.User.Key }, null)</li>
	<li>Password</li>
	@if(Model.IsRolesEnabled){
	<li>@Html.ActionLink("Roles", "UsersRoles", "User", new{id = Model.User.Key}, null)</li>
	}
</ul>

<h3 class="mvcMembership">Password</h3>
<div class="mvcMembership-password">
	@if(Model.User.IsLockedOut){
		<p>Locked out since @Model.User.LastLockoutDate.ToDateString("MMMM dd, yyyy h:mm:ss tt")</p>
		using(Html.BeginForm("Unlock", "User", new{ id = Model.User.Key})){
		<input type="submit" value="Unlock Account" />
		}
	}else{

		if(Model.User.LastPasswordChangedDate == Model.User.DateCreated){
		<dl class="mvcMembership">
			<dt>Last Changed:</dt>
			<dd><em>Never</em></dd>
		</dl>
		}else{
		<dl class="mvcMembership">
			<dt>Last Changed:</dt>
			<dd>@Model.User.LastPasswordChangedDate.ToDateString("MMMM dd, yyyy h:mm:ss tt")</dd>
		</dl>
		}

		if(Model.CanResetPassword && Model.RequirePasswordQuestionAnswerToResetPassword){
			using(Html.BeginForm("ResetPasswordWithAnswer", "User", new{ id = Model.User.Key })){
			<fieldset>
				<p>
					<dl class="mvcMembership">
						<dt>Password Question:</dt>
						if(string.IsNullOrEmpty(Model.User.PasswordQuestion) || string.IsNullOrEmpty(Model.User.PasswordQuestion.Trim())){
						<dd><em>No password question defined.</em></dd>
						}else{
						<dd>@Model.User.PasswordQuestion</dd>
						}
					</dl>
				</p>
				<p>
					<label for="answer">Password Answer:</label>
					@Html.TextBox("answer")
				</p>
				<input type="submit" value="Reset to Random Password and Email User" />
			</fieldset>
			}
		}else if(Model.CanResetPassword){
			using(Html.BeginForm("SetPassword", "User", new{ id = Model.User.Key })){
			<fieldset>
				<p>
					<label for="password">New Password:</label>
					@Html.TextBox("password")
				</p>
				<input type="submit" value="Change Password" />
			</fieldset>
			}
			using(Html.BeginForm("ResetPassword", "User", new{ id = Model.User.Key })){
			<fieldset>
				<input type="submit" value="Reset to Random Password and Email User" />
			</fieldset>
			}
		}

	}
</div>