@model Ideaworx.Cgpamatter.Web.ViewModels.Security.DetailsViewModel
@{
    ViewBag.Title = "User Details: " + Model.DisplayName;	
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>User Details: @Model.DisplayName [@Model.Status]</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Details", "User", new { id = Model.User.Key })" class="btn">
                        <i class="icon-zoom-in"></i>Details
                    </a>
                    <a href="@Url.Action("Password", "User", new { id = Model.User.Key })" class="btn">
                        <i class="icon-star"></i>Password
                    </a>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Role name</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>
                        @Html.ActionLink(role.Key.LoweredRoleName, "Details", "Role", new { id = role.Key.Key }, null)
                    </td>

                    @if (role.Value)
                    {
                        <td>
                            @using (Html.BeginForm("RemoveFromRole", "User", new { id = Model.User.Key, role = role.Key.LoweredRoleName }))
                            {
                                <button type="submit" class="btn btn-danger">
                                    <i class="icon-minus-sign icon-white"></i>
                                    Remove From
                                </button>
                            }
                        </td>
                                                
                    }
                    else
                    {
                        <td>
                            @using (Html.BeginForm("AddToRole", "User", new { id = Model.User.Key, role = role.Key.LoweredRoleName }))
                            {
                                <button type="submit" class="btn btn-success">
                                    <i class="icon-plus-sign icon-white"></i>
                                    Add To
                                </button>
                            }
                        </td>
                                               
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


