﻿<div class="banner-bg">
    <div class="baner-img">
        <div class="container">
            <div class="span6">
                <h3 class="mt280 home">
                    Best Online Examination Program For better Study Signup free
                    <small>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</small>
                </h3>
            </div>
            <div class="span4 pull-right mt65">
                @Html.Action("RegisterPartial", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
                <p class="text-center text-shadow-01 mtb30">OR signup using folowings</p>
                @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
            </div>
        </div>
    </div>
</div>