﻿<div>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="@Url.Action("Index", "CourseCatalogue")">Course Catalogue</a> @*<span class="divider">/</span>*@
        </li>
    </ul>
</div>
