﻿@model Ideaworx.Cgpamatter.Web.ViewModels.Account.LocalPasswordModel


@using (Html.BeginForm("Settings", "Settings", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            <div class="controls">@Html.PasswordFor(m => m.OldPassword)</div>

        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Change Password</button>
            <a href="@Url.Action("Index", "Home")" class="btn">Cancel</a>
        </div>
    </fieldset>
}
