﻿<div class="carousel">
    <ul>
        <li>
            <img src="@Url.Content("~/Content/images/jCarousel/1.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/Content/images/jCarousel/2.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/Content/images/jCarousel/3.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/Content/images/jCarousel/4.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/Content/images/jCarousel/5.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/Content/images/jCarousel/6.jpg")" width="945" height="394" alt="" /></li>
    </ul>
</div>
<script src="@Url.Content("~/Scripts/jquery.jcarousel.lite.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".carousel").jCarouselLite({
            circular: true,
            mouseWheel: true,
            scroll: 1,
            visible: 1,
            speed: 1000,
            start: 0,
            auto: 2000,
            easing: "jswing"
        });
    });
</script>
