﻿@using Ideaworx.Cgpamatter.Web.Extensions
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>cgpamatter.com |@ViewBag.Title  </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap")
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="flash" style="display: none;">
    </div>


    @Html.Partial("_topnav")


    @RenderSection("banner", required: false)

    <div class="container">

        @RenderBody()

        @Html.Partial("Footer")


    </div>

    @Scripts.Render("~/bundles/jquery"
    , "~/bundles/jqueryui"
    , "~/bundles/jqueryval"
    , "~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    @Html.Flash()

    <!--[if lt IE 7 ]>
        <script src="@Url.Content("~/Scripts/dd_belatedpng.js")"></script>
        <script> DD_belatedPNG.fix('img, .png_bg');</script>
    <![endif]-->

    @Html.Partial("_googleAnalytics")


</body>
</html>
