﻿@if (this.Request.IsAuthenticated && this.User != null)
{

    <div class="fr br-login dropdown">
        <div class="user-photo fl">
            <a href="@Url.Action("Index", "Settings")">
                <img src="~/Images/user/user.png" alt="user display picture" />
            </a>

        </div>
        <div class="user-name fl">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">@this.User.FullName <span class="caret"></span>
                <small>Computer Science</small></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                    <a href="@Url.Action("Index", "Settings", new { userId = ViewBag.UserId })">
                        <i class="icon-user"></i> My Profile </a>
                </li>
                <li>
                    <a href="@Url.Action("Manage", "Account")">
                        <i class="icon-lock"></i> My Account </a>
                </li>
                <li>
                    <a href="@Url.Action("Settings", "Settings")">
                        <i class="icon-cog"></i> My Settings </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="@Url.Action("Logout", "Account")">
                        <i class="icon-off"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="cl"></div>
    </div>
    <div class="text-center sandbar-links">
        <a href="#">Activity Stream</a>
        <a href="#">Tests</a>
        <a href="@Url.Action("Index", "ExamResult")">Results</a>
        <a href="#">Friends</a>
    </div>
    <div class="cb"></div>         
}
else
{
    <div class="login-sandbar pull-right form-inline">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input name="username" type="text" placeholder="Email">
            <input name="password" type="password" class="span2" placeholder="Password">
            <input name="rememberme" type="checkbox" value="true">
            <input name="rememberme" type="hidden" value="false">
            <label class="checkbox" for="rememberme">Remember me?</label>
            
            <button type="submit" class="btn"><i class="icon-user"></i> Log In </button>
        }
    </div>
}