﻿<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            @Html.ActionLink("CGPAMatter", "Index", "Home", null, new { @class = "brand" })

            @Html.Partial("_LoginPartial")

            @if (Request.IsAuthenticated)
            {
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#"
                                class="dropdown-toggle" data-toggle="dropdown">Security
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("Index", "User")">
                                        <i class="icon-user"></i>
                                        Users
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Role")">
                                        <i class="icon-user"></i>
                                        Roles
                                    </a>
                                </li>
                                <li class="divider"></li>                                
                                <li>
                                    <a href="@Url.Action("Index", "Permission")">
                                        <i class="icon-user"></i>
                                        Permissions
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown">Setup
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                                <li>@Html.ActionLink("Courses", "Index", "Course")</li>                                
                                <li class="divider"></li>                                
                                <li>@Html.ActionLink("Question Types", "Index", "QuestionType")</li>
                            </ul>
                        </li>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Theme
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "Default" })">Default</a></li>
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "Amelia" })">Amelia</a></li>
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "Cerulean" })">Cerulean</a></li>
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "Journal" })">Journal</a></li>
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "Readable" })">Readable</a></li>
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "Simplex" })">Simplex</a></li>
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "Slate" })">Slate</a></li>
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "Spacelab" })">Spacelab</a></li>
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "Spruce" })">Spruce</a></li>
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "Superhero" })">Superhero</a></li>
                                <li><a href="@Url.Action("Index", "Theme", new { themeName = "United" })">United</a></li>
                            </ul>
                        </li>*@
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            }
        </div>
    </div>
</div>
