﻿@if (Request.IsAuthenticated)
{
    <div class="span2">
        <div class="sidebar-nav">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Images/brand/cgpamatterlogo-2.png" /></a>
        </div>
        <div class="member-box round-all">
            <a>
                <img src="@Url.Content("~/images/member_ph.png")" class="member-box-avatar" /></a>
            <span>
                <strong>Administrator</strong><br />
                <a>@HttpContext.Current.User.Identity.Name</a><br />
                <span class="member-box-links">@Html.ActionLink("Settings", "Manage", "Account") | @Html.ActionLink("Logout", "Logout", "Account")</span>
            </span>
        </div>
        <div class="sidebar-nav">
            <div class="well" style="padding: 8px 0;">
                <ul class="nav nav-list">
                    <li class="nav-header">Main</li>
                    <li><a href="@Url.Action("Index", "User")"><i class="icon-user"></i>Users</a></li>
                    <li><a href="@Url.Action("Index", "Role")"><i class="icon-comment"></i>Roles</a></li>

                </ul>
            </div>
        </div>
        <!--/.well -->
    </div>
}