﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="fl w183">
                <a href="@Url.Action("Index", "Home")" class="brand">
                    <img src="~/images/logo.png" alt="cgpamatter.com" /></a>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
