﻿<div class="footer">
	<a href="#">About</a>
	<a href="#">Blog</a>
	<a href="#">Community</a>
	<a href="#">Help & support</a>	
	<span class="pull-right">Copyright @DateTime.Now.Year · All rights reserved</span>
</div>