﻿@model IList<Ideaworx.Cgpamatter.Entities.CourseExplorer.Course>
@using Course = Ideaworx.Cgpamatter.Entities.CourseExplorer.Course


<div>
    <div class="home-thumbs">


        @foreach (Course course in Model)
        {
      
            <a class="thumbnail" href="@Url.Action("CourseDetails", "Course", new { Id = course.Key })">
                <img alt="300x200" src="~/Images/course/01.png" />
                <h4>@course.CourseName <small>@course.CourseCode </small></h4>
            </a>
        }
        <div class="cl"></div>
    </div>
    <a href="@Url.Action("Index", "CourseCatalogue")" class="btn btn-large btn-block nav nav-pills">View more courses</a>
</div>


