﻿@model IList<Course>
@using Course = Ideaworx.Cgpamatter.Entities.CourseExplorer.Course

<div class="span658">
    <div class="gray-box img-rounded">

        <!--Result Item Start-->


        @foreach (Course course in Model)
        {
            <div class="result-item">
                <a href="@Url.Action("CourseDetails", "Course", new { Id = course.Key })">
                    <div class="normal-cat-img fl thumbnail">
                        <img src="~/images/course/normal/01.jpg" />
                    </div>
                    <div class="fl w375">
                        <h5>@course.CourseName <small>@course.CourseCode </small>
                            <p>@course.Instructor</p>
                        </h5>
                    </div>
                    <div class="fr w90 time-date">@course.CourseLevel<span>Credit hours @course.CreditHours</span></div>
                    <div class="cb"></div>
                </a>
            </div>
            <hr /> 
        }

@*        <!--Pagination Start-->
        <div class="pagination pull-right">
            <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        <!--Pagination End-->*@
    </div>
</div>
