﻿<div class="accordion" id="accordion2">

	<div class="accordion-group">
		<div class="accordion-heading"><a data-toggle="collapse" data-parent="#accordion2"  class="accordion-toggle" href="#q1">Collapsible Group Item #1</a></div>
		<div id="q1" class="accordion-body collapse in">
			<div class="accordion-inner">This class is an introduction to discrete optimization and exposes students to some of the most fundamental concepts and algorithms in the field. It covers constraint programming, local search</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading"><a data-toggle="collapse" data-parent="#accordion2"  class="accordion-toggle" href="#q2">Collapsible Group Item #2</a></div>
		<div id="q2" class="accordion-body collapse">
			<div class="accordion-inner">This class is an introduction to discrete optimization and exposes students to some of the most fundamental concepts and algorithms in the field. It covers constraint programming, local search</div>
		</div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a data-toggle="collapse" data-parent="#accordion2"  class="accordion-toggle" href="#q3">Collapsible Group Item #3</a></div>
		<div id="q3" class="accordion-body collapse">
			<div class="accordion-inner">This class is an introduction to discrete optimization and exposes students to some of the most fundamental concepts and algorithms in the field. It covers constraint programming, local search</div>
		</div>
	</div>
	
	<div class="accordion-group">
		<div class="accordion-heading"><a data-toggle="collapse" data-parent="#accordion2"  class="accordion-toggle" href="#q4">Collapsible Group Item #4</a></div>
		<div id="q4" class="accordion-body collapse">
			<div class="accordion-inner">This class is an introduction to discrete optimization and exposes students to some of the most fundamental concepts and algorithms in the field. It covers constraint programming, local search</div>
		</div>
	</div>
</div>