﻿@model Ideaworx.Cgpamatter.Entities.CourseExplorer.Course
@{
    ViewBag.Title = "CourseDetails";
}

<div class="wrapper">
    <h1>Course Details</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                    <a href="@Url.Action("Edit", new { id = Model.Key })" class="btn">
                        <i class="icon-edit"></i>Edit                                        
                    </a>
                    <a href="@Url.Action("Delete", new { id = Model.Key })" class="btn">
                        <i class="icon-trash"></i>Delete                                        
                    </a>
                    <a href="@Url.Action("Index", "Syllabus", new { courseId = Model.Key })" class="btn">
                        <i class="icon-align-justify"></i>Syllabus                                        
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span658">
            <h5>@Model.CourseName<small>@Model.Instructor</small></h5>
            <div class="mtb30">
                <p>
                    <strong>Course Contents</strong><br />
                    @Model.CourseDescription
                </p>
            </div>
            <h1><small>Workload: 6-9 hours/week</small>Syllabus</h1>
            @foreach (var syllabus in this.Model.SyllabusList)
            {
                <span>@syllabus.SyllabusText,</span>
@*<small>@syllabus.SyllabusDescription</small>*@
            }

            <h1>FAQ</h1>
            <!--Accordion Start-->
            @Html.Partial("_faq")
            <!--Accordion End-->
        </div>
        <div class="span3 pull-right right-sec img-rounded">
            <div class="bg-text img-rounded text-center">Feeling Prepared?</div>
            <div class="pd20">
                <a class="btn btn-large btn-block btn-success" href="@Url.Action("Index", "Exam", new { courseId = Model.Key })">Take a Test</a>
                <div class="text-center mtb10 text-center">Not Yet?</div>

                @*<div class="cptext text-center">i Want to learn </div>
                <a class="btn btn-large btn-block" href="#">Course</a>*@

                <div class="mtb20">
                    <div class="cptext text-center">i know but i need practice</div>
                    <a class="btn btn-large btn-block" href="#">Workshop</a>
                </div>
                <div class="f12">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod</p>
                </div>
            </div>
        </div>
    </div>
</div>
