﻿@model Ideaworx.Cgpamatter.Web.ViewModels.CourseExplorer.CourseViewModel
@{
    ViewBag.Title = "Create";
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Create Course</h1>

    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Form control states</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.CategoryId, "Category", new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.CategoryId, Model.Categories)
                    @Html.ValidationMessageFor(model => model.CategoryId)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.CourseCode, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Course.CourseCode, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Course.CourseCode)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.CourseName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Course.CourseName, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Course.CourseName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.CourseLevel, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Course.CourseLevel, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Course.CourseLevel)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.CreditHours, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Course.CreditHours, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Course.CreditHours)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.Instructor, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Course.Instructor, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Course.Instructor)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.CheckBoxFor(model => model.Course.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="@Url.Action("Index")" class="btn">Cancel</a>
            </div>
        </fieldset>
                            
    }
</div>
