﻿@model Ideaworx.Cgpamatter.Web.ViewModels.CourseExplorer.CourseViewModel
@{
    ViewBag.Title = "Details";
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Course Details</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                    <a href="@Url.Action("Edit", new { id = Model.Course.Key })" class="btn">
                        <i class="icon-edit"></i>Edit                                        
                    </a>
                    <a href="@Url.Action("Delete", new { id = Model.Course.Key })" class="btn">
                        <i class="icon-trash"></i>Delete                                        
                    </a>
                    <a href="@Url.Action("Index", "Syllabus", new { courseId = Model.Course.Key })" class="btn">
                        <i class="icon-align-justify"></i>Syllabus                                        
                    </a>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Course.TimeStamp)
        <fieldset>
            <legend>Form control states</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.CategoryId, "Category", new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.CategoryId, Model.Categories)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.CourseCode, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Course.CourseCode, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.CourseName, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Course.CourseName, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.CourseDescription, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Course.CourseDescription, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.CourseLevel, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Course.CourseLevel, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.CreditHours, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Course.CreditHours, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.Instructor, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Course.Instructor, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Course.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.DisplayFor(model => model.Course.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <a href="@Url.Action("Index")" class="btn btn-primary">Back</a>
            </div>
        </fieldset>
                            
    }

</div>
