﻿@model Ideaworx.Cgpamatter.Web.ViewModels.CourseExplorer.SyllabusViewModel
@{
    ViewBag.Title = "Create";
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Create Syllabus</h1>

    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index", new { courseId = Model.CourseId })" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)                            
        <fieldset>
            <legend>Form control states</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.CourseId, "Course" , new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.CourseId, Model.Courses)
                    @Html.ValidationMessageFor(model => model.CourseId)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Syllabus.SyllabusText, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Syllabus.SyllabusText, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Syllabus.SyllabusText)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Syllabus.SyllabusDescription, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Syllabus.SyllabusDescription, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.Syllabus.SyllabusDescription)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Syllabus.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.CheckBoxFor(model => model.Syllabus.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="@Url.Action("Index", new { courseId = Model.CourseId })" class="btn">Cancel</a>
            </div>
        </fieldset>
    }
</div>
