﻿@model Ideaworx.Cgpamatter.Web.ViewModels.CourseExplorer.SyllabusViewModel
@{
    ViewBag.Title = "Details";
}

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Syllabus Details</h1>
    <div class="row">
        <div class="span12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Index", new { courseId = Model.CourseId })" class="btn">
                        <i class="icon-align-justify"></i>List                                        
                    </a>
                    <a href="@Url.Action("Edit", new { Id = Model.Syllabus.Key })" class="btn">
                        <i class="icon-edit"></i>Edit                                        
                    </a>
                    <a href="@Url.Action("Delete", new { Id = Model.Syllabus.Key })" class="btn">
                        <i class="icon-trash"></i>Delete                                        
                    </a>
                    <a href="@Url.Action("Index", "Question", new { courseId = Model.CourseId, syllabusId = Model.Syllabus.Key })" class="btn">
                        <i class="icon-question-sign"></i>Questions                                        
                    </a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Form control states</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.Syllabus.SyllabusText, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Syllabus.SyllabusText, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Syllabus.SyllabusDescription, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Syllabus.SyllabusDescription, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Syllabus.DateCreated, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Syllabus.DateCreated, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Syllabus.DateModified, new { @class = "control-label" })
                <div class="controls">
                    @Html.DisplayFor(model => model.Syllabus.DateModified, new { @class = "input-xlarge focused" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Syllabus.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.DisplayFor(model => model.Syllabus.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <a href="@Url.Action("Index", new { courseId = Model.CourseId })" class="btn btn-primary">Back</a>
            </div>
        </fieldset>     
    }
</div>
