﻿@{
    ViewBag.Title = "Index";
}

@model Ideaworx.Cgpamatter.Web.ViewModels.PagedViewModel<Ideaworx.Cgpamatter.Entities.ExamEngine.ExamAttempt>

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Attempted Tests</h1>
    <div class="row">
    </div>
    <div id="data-grid">
        @Html.Partial("_grid", Model)
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                url: "@Url.Action("Index")",
                alignRight: true,
                addRowOverState: true,
                addSelectedState: true
            };
            $("#data-grid").mvccontribGrid(options);
        });
    </script>
}