﻿@{
    ViewBag.Title = "ShowResult";
}

@model Ideaworx.Cgpamatter.Entities.ExamEngine.ExamAttempt

<div class="wrapper">
    @Html.Partial("_breadCrumbs")
    <h1>Test Result</h1>
    <div class="row">
    </div>
    <div id="data-grid">
        <table id="datatable" class="table table-bordered dataTable">
            <thead>
                <tr>
                    <th>Sr. #</th>
                    <th>Question Number</th>
                    <th>Question</th>
                    <th>Is Correct Answer?</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int i = 1;
                    foreach (var answer in this.Model.Answers)
                    {


                        if (answer.IsCorrect)
                        {
                    <tr class="alert alert-success">
                        <td>@i</td>
                        <td>@answer.Question.Key</td>
                        <td>@answer.Question.Text</td>
                        <td>@answer.IsCorrect</td>

                    </tr>
                        }
                        else
                        {
                    <tr class="alert alert-error">
                        <td>@i</td>
                        <td>@answer.Question.Key</td>
                        <td>@answer.Question.Text</td>
                        <td>@answer.IsCorrect</td>

                    </tr>
                        }
                        i++;

                    }
                }

            </tbody>
        </table>
    </div>
</div>

