﻿@model Ideaworx.Cgpamatter.Entities.Security.User
@{
    ViewBag.Title = "My Profile";
}

<div class="wrapper">
@*    @Html.Partial("_breadCrumbs")*@
    <h1>My Profile</h1>

    <p class="alert alert-block">You're logged in as <strong>@HttpContext.Current.User.Identity.Name</strong>.</p>

    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Key)
        @Html.HiddenFor(model => model.DateCreated)
        @Html.HiddenFor(model => model.TimeStamp)
        <fieldset>
            <legend>Profile Settings</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.UserName, "Username", new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                <div class="controls">
                    <a href="@Url.Action("Settings")">Change Password</a>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.FirstName, "First name", new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.LastName, "Last name", new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Email, new { @class = "input-xlarge focused" })
                    @Html.ValidationMessageFor(model => User.Email)
                </div>
            </div>
@*            <div class="control-group">
                @Html.LabelFor(model => model.ExamAttempts, "Attempted tests", new { @class = "control-label" })
                <div class="controls">
                    <a href="@Url.Action("Index", "ExamResult")">My Test Results</a>
                </div>
            </div>*@
            <div class="control-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                <div class="controls">
                    <label>
                        @Html.CheckBoxFor(model => User.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <a href="@Url.Action("Index", "Home")" class="btn">Cancel</a>
            </div>
        </fieldset>                      
    }
</div>
