﻿@{
    ViewBag.Title = "Settings";
}

<div class="wrapper">
    <h1>My Settings</h1>

    <p class="alert alert-block">You're logged in as <strong>@HttpContext.Current.User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
</div>
