﻿@using AuthenticationClientData = Ideaworx.Cgpamatter.Services.OAuth.AuthenticationClientData
@model ICollection<AuthenticationClientData>

<div class="social-icon">
    @foreach (AuthenticationClientData data in Model)
    {
            
        <a href="@Url.Action("ExternalLogin", "Account", new { provider = data.AuthenticationClient.ProviderName })" title="Log in using your @data.DisplayName account">
            <img src="@Url.Content(string.Format("{0}/{1}.{2}", "~/Images/icon", @data.AuthenticationClient.ProviderName, "png"))" alt="@data.DisplayName" /></a>                                                           
    }
</div>