﻿@model Ideaworx.Cgpamatter.Web.ViewModels.Account.RegisterModel
@using (Html.BeginForm("Register", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
                                      
    @Html.TextBoxFor(m => m.UserName, new { @class = "input-block-level", placeholder = "Email" })
    @Html.PasswordFor(m => m.Password, new { @class = "input-block-level", placeholder = "Password" })                                                           
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-block-level", placeholder = "Confirm Password" })                                              
                                  
    <p class="f11 text-center text-shadow-01">By clicking on "Log in for free" below, you agree to the Terms of Service and the Privacy Policy.</p>
                    
    <button type="submit" class="btn btn-large btn-success btn-block bshadow"><strong>LOG IN FOR FREE</strong></button>
}