﻿@using Ideaworx.Cgpamatter.Web.ViewModels.Account
@model List<ExternalLogin>

@if (Model.Count > 0)
{
    <h5>Registered external logins</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Account name</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ExternalLogin externalLogin in Model)
            {
                <tr>
                    <td>@externalLogin.ProviderDisplayName</td>
                    <td>
                        @if (ViewBag.ShowRemoveButton)
                        {
                            using (Html.BeginForm("Disassociate", "Account"))
                            {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <input type="submit" class="btn btn-danger" value="Remove" title="Remove this @externalLogin.ProviderDisplayName credential from your account" />
                            </fieldset>
                            }
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
