﻿@{
    ViewBag.Title = "Account Activated";
    
}
<section>
    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {            
        <h1>
            Your account has now been activated
        </h1>
        
        <p>
            To begin using your account, please sign in with your cgpamatter.com username and password.</p>
        @Html.ActionLink("Sign In", "Login", null, new { @class = "btn btn-primary" })    
    }
    else
    {
        <h2>
            @ViewBag.ErrorMessage
        </h2>            
    }
</section>
