﻿@using Recaptcha.Web.Mvc
@model Ideaworx.Cgpamatter.Web.ViewModels.Account.ForgotPasswordModel

@{
    ViewBag.Title = "ForgotPassword";
}


<h3>We need some information to verify your ID</h3>
This protects your account from unauthorized access

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Forgot Password</legend>

        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)

        <!-- Render recaptcha control with default properties. -->
        <p>
            @*@Html.Recaptcha()*@



            <!-- Render recaptcha control with Clean theme. -->
            @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
        </p>
        <p>
            <button class="btn btn-primary" type="submit">Next</button>
        </p>

    </fieldset>
}
