﻿@model Ideaworx.Cgpamatter.Web.ViewModels.Account.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="row mt65">
    <div class="span4">

        <p class="f11 text-center text-shadow-01">Login using your CGPAMatter.com account</p>

        @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "well form-search" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "username" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
                            
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="control-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div> 
            <div class="control-group">
                <button class="btn btn-large btn-primary btn-block bshadow" type="submit"><strong>LOG IN</strong></button>
            </div>
            <div class="control-group">
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </div>                            
        }

    </div>
    
    <div class="span8">
        <p class="f11 text-center text-shadow-01">OR login using one of the following</p>
        <div id="socialLoginForm">

            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

        </div>
    </div>
</div>


