﻿@model Ideaworx.Cgpamatter.Web.ViewModels.Account.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="wrapper">
    <h1>Manage Accounts</h1>

    <p class="alert alert-block">You're logged in as <strong>@HttpContext.Current.User.Identity.Name</strong>.</p>

@*    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }*@

    <section id="externalLogins">
        @Html.Action("RemoveExternalLogins")

        <h5>Add an external login</h5>
        <div class="form-actions">
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </section>
</div>

