﻿@model Ideaworx.Cgpamatter.Web.ViewModels.Account.PasswordResetModel

@{
    ViewBag.Title = "PasswordReset";
}

<h2>Password Reset</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>New Password</legend>
        
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)

                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
        <p>
            <button class="btn btn-large btn-success bshadow" type="submit"><strong>Continue</strong></button>
        </p>

    </fieldset>
}

