﻿<div class="row mt65">

    <div class="span4">
        <p class="f11 text-center text-shadow-01">Log in using CGPAMatter.com</p>
        @Html.Partial("_RegisterPartial")
    </div>
    
    <div class="span8">
        <p class="text-center text-shadow-01">OR Log in using folowings</p>
        <div id="socialLoginForm">

            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

        </div>
    </div>
</div>

